node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
/test-result/
/test-results/
cucumber-report.html
assets
@rerun.txt
index.html
.DS_Store
allure-results
weather-api-result.json
k6-performance-report.html
k6-raw-results.json
k6-results.json
k6-load-raw-results.json
k6-load-results.json
